@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    @apply text-[#008156]
  }

.react-tabs__tab--selected {
    color: #272343;
    border: #008156;
}
.react-tabs__tab--selected {
    color: #272343;
    border-bottom: 1px solid #008156;
}

/* hover:shadow-[0px_4px_12px_rgba(0,0,0,0.1)] transition-all duration-500 */